<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyecto.aplicacion.wasi.wasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Perfil"
                  android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Login"
            android:parentActivityName=".Perfil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Perfil" />
        </activity>
        <activity android:name=".Apoderado" />
        <activity
            android:name=".HijoApoderado"
            android:parentActivityName=".Apoderado2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Apoderado2" />
        </activity>
        <activity
            android:name=".Salida"
            android:parentActivityName=".HijoApoderado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HijoApoderado" />
        </activity>
        <activity
            android:name=".Apoderado2"
            android:label="@string/title_activity_apoderado2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Movilidad"
            android:label="@string/title_activity_movilidad"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Recogedor"
            android:parentActivityName=".Apoderado2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Apoderado2" />
        </activity>
        <activity
            android:name=".Recogedor2"
            android:parentActivityName=".Apoderado2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Apoderado2" />
        </activity>
        <activity android:name=".SalidaPermitida"
            android:parentActivityName=".HijoApoderado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HijoApoderado" />
        </activity>
    </application>

</manifest>